* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: black;
}
p {
  color: black;
}
/* Navbar */
.navbar-container {
  width: 100%;
  height: 80px;
  background-color: #e1e1e0;
  padding: 0 2rem;
}
nav {
  position: relative;
}
.logo {
  width: 50px;
  margin-top: 15px;
}
.navbar-items {
  position: absolute;
  right: 0;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}
.navbar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}
.navbar-items a {
  color: #252c3b;
  text-decoration: none;
  transition: 0.5s;
}
.navbar-items a:hover {
  color: #252c3b;
}
.default-btn {
  padding: 15px 20px;
  background-color: #ddd9d6;
  border-radius: 5px;
  color: white;
}
.navbar-items .default-btn:hover {
  background-color: #c9c5c3;
}

/* main banner */
.main-banner {
  background-image: url(assets/alpine-4888423_1920.jpg);
  background-size: cover;
  background-position: center;
  padding: 15rem 0;
}

.main-banner h1,
.main-banner p {
  color: white;
  text-align: center;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.4) 3px 2px 3px;
}

/* Modes */
.modes-container ul {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.modes-container li {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 200px;
  list-style: none;
  text-align: left;
  padding: 20px;
  gap: 10px;
}
.modes-container p {
    border-left: 2px solid #ccc;
    padding-left: 8px;

}
.modes-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 2rem;
}
.modes-title h2{
    font-size: 32px;
}
.art{
    position: relative;
    right: 160px;
    top: 75px;
    opacity: 0.2;
    z-index: -1;
    font-size: 40px;
}

.modes-container img {
  width: 64px;
  margin-bottom: 25px;
}
