* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: black;
}
p {
  color: rgb(29, 29, 29);
}
/* Navbar */
.navbar-container {
  width: 100%;
  height: 80px;
  background-color: #e1e1e0;
  padding: 0 2rem;
}
nav {
  position: relative;
}
.logo {
  width: 50px;
  margin-top: 15px;
}
.navbar-items {
  position: absolute;
  right: 0;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}
.navbar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}
.navbar-items a {
  color: #252c3b;
  text-decoration: none;
  transition: 0.5s;
}
.navbar-items a:hover {
  color: #252c3b;
}
.default-btn {
  padding: 15px 20px;
  background-color: #ddd9d6;
  border-radius: 5px;
  color: white;
}
.navbar-items .default-btn:hover {
  background-color: #c9c5c3;
}

/* main banner */
.main-banner {
  background-image: url(assets/alpine-4888423_1920.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 15rem 0;
}
.main-banner h1,
.main-banner p {
  color: white;
  text-align: center;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.4) 3px 2px 3px;
}
.afect {
  background-image: url(assets/afect.png);
  background-size: cover;
  background-position: center;
  padding: 4rem 0;
  position: relative;
  top: -128px;
}

/* Modes */
.modes-container ul {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 32px;
}
.modes-container li {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 200px;
  list-style: none;
  text-align: center;
  padding: 20px;
  gap: 10px;
}
.modes-container p {
  padding-left: 8px;
}
.modes-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 2rem;
}
.modes-title h2 {
  font-size: 32px;
  text-transform: uppercase;
}
.art {
  position: relative;
  opacity: 0.7;
  z-index: -1;
  font-size: 40px;
}

.modes-container img {
  width: 100px;
  margin-bottom: 25px;
}
.modes-container hr {
  width: 200px;
  margin: 0 auto;
  border: 2px solid #ddd9d6;
  border-radius: 5px;
}

/* Ads */

.ads-items {
  display: flex;
  padding: 70px 0;
  background-color: #e1e1e0;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 4rem;
  gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  width: 400px;
  height: 700px;
  text-align: center;
}
.item h4 {
  font-size: 24px;
  font-weight: bold;
  padding: 16px 0;
}
.item p {
  padding: 8px 0;
}
.description {
  color: #4e4e4e;
}
.price {
  font-size: 24px;
  font-weight: bold;
}
.price-off {
  font-size: 16px;
  color: rgb(238, 38, 38);
}
.button {
  padding: 15px 20px;
  background-color: #ddd9d6;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #252c3b;
  margin-top: 16px;
  transition: 0.5s;
}
.button:hover {
  background-color: #c9c5c3;
}

/* Fotos items */

.prancha {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: url(assets/prancha-1.webp);
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  margin: 16px 0;
}
.prancha:hover {
  background-image: url(assets/prancha-2.webp);
}

.mochila {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: url(assets/mochila-1.webp);
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  margin: 16px 0;
}
.mochila:hover {
  background-image: url(assets/mochila-2.webp);
}

.bota {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: url(assets/bota-1.jpeg);
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  margin: 16px 0;
}
.bota:hover {
  background-image: url(assets/bota-2.jpg);
}

/* Newslatter */

.newslatter-container {
  background-color: #252c3b;
  text-align: center;
  padding: 5rem 0;
}

.newslatter-container h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 15px;
}
.newslatter-container p {
  color: #c9c5c3;
  font-size: 18px;
  margin-bottom: 25px;
}
.newslatter-container input {
  display: block;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}
.newslatter-container input[type="email"] {
  width: 60%;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 25px;
}

.newslatter-container input[type="submit"] {
  background-color: #ddd9d6;
  padding: 15px 30px;
  color: #252c3b;
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s;
  width: 200px;
}

.newslatter-container input[type="submit"]:hover {
  background-color: #c9c5c3;
}

/* Form */

.contact-container {
  text-align: center;
  padding: 5rem 0 5rem 0;
}
.contact-container h2 {
  font-size: 32px;
  margin-bottom: 15px;
}
.contact-container p {
  font-size: 18px;
  margin-bottom: 25px;
}
.contact-container input,
.contact-container textarea {
  width: 387px;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px 20px;
  border: 1px solid #c9c5c3;
}

.contact-container textarea {
  display: block;
  margin: 0 auto 20px;
  width: 800px;
  height: 200px;
}
.contact-container input[type="submit"] {
  background-color: #ddd9d6;
  padding: 15px 30px;
  color: #252c3b;
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s;
  width: 200px;
}
.contact-container input[type="submit"]:hover {
  background-color: #c9c5c3;
}

/* Footer */
footer {
  display: flex;
  padding: 7rem 0;
  background-color: #252c3b;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

footer p{
  margin-top: 10rem;
  color: #c9c5c3;
  font-size: 10px;
}

footer a{
  font-size: 12px;
  color: #c9c5c3;
}

/* Gallery */

.galery{
  background-color: #212121;
  padding: 4rem;
}
.galery h4{
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 32px;
}
.galery-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}