* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: black;
}
p {
  color: black;
}
/* Navbar */
.navbar-container {
  width: 100%;
  height: 80px;
  background-color: #e1e1e0;
  padding: 0 2rem;
}
nav {
  position: relative;
}
.logo {
  width: 50px;
  margin-top: 15px;
}
.navbar-items {
  position: absolute;
  right: 0;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}
.navbar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}
.navbar-items a {
  color: #252c3b;
  text-decoration: none;
  transition: 0.5s;
}
.navbar-items a:hover {
  color: #252c3b;
}
.default-btn {
  padding: 15px 20px;
  background-color: #ddd9d6;
  border-radius: 5px;
  color: white;
}
.navbar-items .default-btn:hover {
  background-color: #c9c5c3;
}

/* main banner */
.main-banner {
  background-image: url(assets/alpine-4888423_1920.jpg);
  background-size: cover;
  background-position: center;
  padding: 15rem 0;
}

.main-banner h1,
.main-banner p {
  color: white;
  text-align: center;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.4) 3px 2px 3px;
}

/* Modes */
.modes-container ul {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.modes-container li {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 200px;
  list-style: none;
  text-align: left;
  padding: 20px;
  gap: 10px;
}
.modes-container p {
  border-left: 2px solid #e1e1e0;
  padding-left: 8px;
}
.modes-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 2rem;
}
.modes-title h2 {
  font-size: 32px;
}
.art {
  position: relative;
  right: 160px;
  top: 75px;
  opacity: 0.2;
  z-index: -1;
  font-size: 40px;
}

.modes-container img {
  width: 64px;
  margin-bottom: 25px;
}

/* Ads */

.ads-items {
  display: flex;
  padding: 70px 0;
  background-color: #e1e1e0;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 4rem;
  gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  padding: 25px;
  width: 400px;
  text-align: center;
}
.item h4 {
  font-size: 24px;
  font-weight: bold;
  padding: 16px 0;
}
.item p {
  padding: 8px 0;
}
.description {
  color: #4e4e4e;
}

.price {
  font-size: 24px;
  font-weight: bold;
}
.button {
  padding: 15px 20px;
  background-color: #ddd9d6;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #252c3b;
  margin-top: 16px;
}
.button:hover {
  background-color: #c9c5c3;
}

/* Fotos items */

.prancha {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: url(assets/prancha-1.webp);
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  margin: 16px 0;
}
.prancha:hover {
  background-image: url(assets/prancha-2.webp);
}

.mochila {
    display: flex;
    width: 300px;
    height: 300px;
    background-image: url(assets/mochila-1.webp);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    margin: 16px 0;
  }
  .mochila:hover {
    background-image: url(assets/mochila-2.webp);
  }

  .bota {
    display: flex;
    width: 300px;
    height: 300px;
    background-image: url(assets/bota-1.jpeg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    margin: 16px 0;
  }
  .bota:hover {
    background-image: url(assets/bota-2.jpg);
  }
